@import "../../assets/styles/_rem.scss";

.tour-card {
  color: #101010;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  box-shadow: rem(-10px 10px 20px rgba(0, 0, 0, 0.2));
  min-height: rem(912px);
  height: 100%;
  margin-bottom: 1em;

  .tour-card-img {
    padding-top: 56%;
  }

  .tour-card-body {
    padding: 0 2em;
    height: 100%;

    h1 {
      font-size: rem(25px);
      font-weight: bold;
      text-align: center;
      padding-top: 2em;
    }

    h2 {
      color: #818181;
      font-size: rem(13px);
      text-align: center;
    }

    ul {
      padding: 0;
      padding-top: 1em;

      li {
        font-size: rem(16px);
        padding: .5em 0;
      }
    }

    strong {
      font-size: rem(15px);
    }

    .tips {
      font-size: rem(12px);
    }
  }

  .tour-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    height: rem(70px);
    width: rem(250px) !important;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }
}