.crea-tu-itinerario-toparea {
    .radio-button-box#id-2,
    .radio-button-box#id-3,
    .radio-button-box#id-4,
    .radio-button-box#id-5,
    .radio-button-box#id-6,
    .radio-button-box#id-7 {
        label#id-0 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }

    .radio-button-box#id-3,
    .radio-button-box#id-4,
    .radio-button-box#id-5,
    .radio-button-box#id-6,
    .radio-button-box#id-7 {
        label#id-1 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }

    .radio-button-box#id-4,
    .radio-button-box#id-5,
    .radio-button-box#id-6,
    .radio-button-box#id-7 {
        label#id-2 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }

    .radio-button-box#id-5,
    .radio-button-box#id-6,
    .radio-button-box#id-7 {
        label#id-3 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }

    .radio-button-box#id-6,
    .radio-button-box#id-7 {
        label#id-4 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }

    .radio-button-box#id-7 {
        label#id-5 {

            span {
                &:before {
                    border-color: #ffcc26;
                    background-color: #ffcc26;
                }

                &:before,
                b {
                    color: #ffffff !important;
                }
            }

        }
    }


    
}
.oreporductor-video {
    //position: fixed !important;
}
.crea-tu-itinerario-list-box .video-itinerario-box.autoplay .video-itinerario-box-pause {
    position: fixed !important;
}