html {
    font-size: 16px;
}

.mobile-view {
    display: none !important;
}

.desktop-view {
    display: flex !important;
}


@media (max-width: 1480px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 11.5px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 10.75px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1023px) {
    html {
        font-size: 9px;
    }
}

@import './mobile/767';
@import './mobile/480';
@import './mobile/375';